
body{padding-left: 20px;}
h1{font-family: Parisienne;font-size: 3em;text-align: center; color: darkgoldenrod;margin-bottom: 5px;}
#eslogan{font-family: Caveat;font-style: italic;text-align: center;font-size: 2em;color: cornsilk;border: 2px solid cornsilk;width: 40%;}
h2{color: #FFE4C4;font-family: Pacifico;}
ul{text-decoration: none;font-size: 1.5em;font-family: Pacifico;}
a:link{color: white;}
a:hover{font-weight: bold;}
a:active{color: darkgoldenrod;}
#texto-normal{font-family: Satisfy;font-size: 1.2em;color: #FFE4C4;text-align: justify;line-height: 2;padding: 30px;}
#logo-cafe{border-radius: 50%;text-align: center; width: 200;height: 200;}
body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSauOEGr_NieG84cxhbNJWh9slBymGY0IcueQ&s);background-size: cover;}
li{color: white;}
p{text-align: center;width: 200;height: 200;}